<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ul>
                    <h3>About</h3>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/faq">Frequently Ask Question(FAQ)</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="/terms_use">Terms and use</a></li>
                    <li><a href="/policy">Policy</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>Service</h3>
                <ul>
                    <li><a href="/website_design">Web Design/Redesign</a></li>
                    <li><a href="/seo">SEO Optimization</a></li>
                    <li><a href="/graphic-design">Graphics Design</a></li>
                    <li><a href="/ui_ux">UI and UX</a></li>
                    <li><a href="/shopify">Shopify Setup</a></li>
                    <li><a href="/wordpress">WordPress</a></li>
                    <li><a href="/maintenance">Website maintenance</a></li>
                </ul>
            </div>

            <div class="col-lg-6">
                <h3>Location</h3>
                <p><ul>
                    <li>Location: 615 N Benson Ave, Upland, CA 91786</li>
                    <li><a href="mailto:rudulphval@webplacelab.com">Send email</a></li>
                    <li><a href="tel:909-695-6407">Contact Us: +1 909-695-6407</a></li>
                </ul></p>
                
                <iframe class="google-map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3303.7724544471507!2d-117.68396362446212!3d34.100969215156134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c33172538141f5%3A0x2b2a12373b0c17f6!2s615%20N%20Benson%20Ave%2C%20Upland%2C%20CA%2091786!5e0!3m2!1sen!2sus!4v1700344316279!5m2!1sen!2sus"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>



            <div class="col-lg-6 col-12">
                <div class="site-footer-wrap d-flex align-items-center">
                    <p class="copyright-text mb-0 me-4">Copyright © 2022 Web Place Lab</p>

                    <ul class="social-icon">
                        <li><a href="https://facebook.com/webplace" class="social-icon-link"><img
                                    src="images/icons/facebook.png" alt="facebook"></a></li>

                        <li><a href="https://www.linkedin.com/in/rudulph-val-nario-3166aa117/" class="social-icon-link"><img
                                    src="images/icons/black-linkedin.png"></a></li>

                        <li><a href="https://twitter.com/minthu" class="social-icon-link"><img
                                    src="images/icons/twitter.png"></a></li>

                        <li><a href="https://www.youtube.com/tooplate" class="social-icon-link"><img
                                    src="images/icons/youtube.png"></a></li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</footer>

<!-- JAVASCRIPT FILES -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<script src="js/click-scroll.js"></script>
<script src="js/custom.js"></script>

</body>

</html>