<footer class="site-footer">
    <div class="container">
        <div class="row">
                
            <div class="col-lg-6 col-12">
                <div class="site-footer-wrap d-flex align-items-center">
                    <p class="copyright-text mb-0 me-4">Copyright © 2022 Web Place Lab</p>

                    <ul class="social-icon">
                        <li><a href="https://facebook.com/tooplate" class="social-icon-link fa fa-facebook"></a></li>

                        <li><a href="https://pinterest.com/tooplate" class="social-icon-link fa fa-pinterest"></a></li>

                        <li><a href="https://twitter.com/minthu" class="social-icon-link fa fa-twitter"></a></li>

                        <li><a href="https://www.youtube.com/tooplate" class="social-icon-link fa fa-youtube"></a></li>
                    </ul>
                    
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- JAVASCRIPT FILES -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<script src="js/click-scroll.js"></script>
<script src="js/custom.js"></script>

</body>
</html>