<%- include ('partials/header') %>


<h1>Contact Page</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam perspiciatis sunt a placeat obcaecati dignissimos eum numquam beatae quo. Quo debitis cum culpa laboriosam deserunt nulla tempora quidem sint perspiciatis.</p>


<%- include('partials/footer') %>