<%- include("partials/header"); -%>

    <section class="hero">
        <div class="container-fluid h-100">
            <div class="row h-100">

                <div id="carouselExampleCaptions" class="carousel carousel-fade hero-carousel slide"
                    data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container position-relative h-100">
                                <div class="carousel-caption d-flex flex-column justify-content-center">
                                    <small class="small-title">Introducing Web Place Lab <strong
                                            class="text-warning">01/23</strong></small>

                                    <h1>Explore <span class="text-warning">new ideas</span> for your business
                                    </h1>

                                    <div class="d-flex align-items-center mt-4">
                                        <a class="custom-btn btn custom-link" href="#section_2">Get Started</a>

                                        <a class="popup-youtube custom-icon d-flex ms-4"
                                            href="https://www.youtube.com/watch?v=AYaHuZ4BB6Y">
                                            <i class="bi-play play-icon d-flex m-auto text-white"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-image-wrap">
                                <img src="/images/jason-goodman-vbxyFxlgpjM-unsplash.jpg"
                                class="img-fluid carousel-image" alt="members-meeting">
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="container position-relative h-100">
                                <div class="carousel-caption d-flex flex-column justify-content-center">
                                    <small class="small-title">Supporting New Project <strong
                                            class="text-warning">01/23</strong></small>

                                    <h1>Strategic Planning for your <span class="text-warning">next
                                            project</span></h1>

                                    <div class="d-flex align-items-center mt-4">
                                        <a class="custom-btn btn custom-link" href="#section_2">Explore
                                            Capabilities</a>

                                        <a class="popup-youtube custom-icon d-flex ms-4"
                                            href="https://www.youtube.com/watch?v=VStvZjykQ00">
                                            <i class="bi-play play-icon d-flex m-auto text-white"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-image-wrap">
                                <img src="/images/kobu-agency-7okkFhxrxNw-unsplash.jpg" class="img-fluid carousel-image"
                                    alt="delivering-project">
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="about section-padding" id="section_2">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                    <div class="about-image-wrap h-100">
                        <img src="images/peter-jones-WZROBIlY8Rg-unsplash.jpg" class="img-fluid about-image" alt="">

                        <div class="about-image-info">
                            <h4 class="text-white">William Smith, CEO</h4>

                            <p class="text-white mb-0">You can freely use Waso Strategy for your website project. Thank
                                you for visiting Tooplate.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12 d-flex flex-column">
                    <div class="about-thumb bg-white shadow-lg">

                        <div class="about-info">
                            <small class="small-title">About <strong class="text-warning">02/05</strong></small>

                            <h2 class="mb-3">Web Consulting Agency</h2>

                            <h5 class="mb-3">Helping small businesses since 2001</h5>

                            <p>Waso Strategy is a Bootstrap 5 HTML template for your business. You may use this template
                                for any purpose. You may not redistribute the template ZIP file on any other website.
                            </p>

                            <p>You may support a little PayPal donation to Tooplate by visiting our <a
                                    href="https://www.tooplate.com/contact">contact page</a>. Thank you.</p>
                        </div>
                    </div>

                    <div class="row h-100">
                        <div class="col-lg-6 col-6">
                            <div class="about-thumb d-flex flex-column justify-content-center bg-danger mb-lg-0 h-100">

                                <div class="about-info">
                                    <h5 class="text-white mb-4">We're growing business dolor</h5>

                                    <a class="custom-btn btn custom-bg-primary" href="#section_3">Join us</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-6">
                            <div class="about-thumb d-flex flex-column justify-content-center bg-warning mb-lg-0 h-100">

                                <div class="about-info">
                                    <h5 class="text-white mb-4">How did you about us?</h5>

                                    <p class="text-white mb-0">Lorem ipsum dolor sit consectetur</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>








    </main>





    <%- include("partials/footer"); -%>