<%- include('partials/header') %>

<header class="site-header">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-2 col-md-3 col-6">
                <p class="text-white mb-0">
                    <a href="tel: 909-695-6407" class="text-white">
                        <i><img class="contact-icon" src="images/icons/phone.png" alt="telephone"></i>
                        (909)-695-6407
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-3 col-6 ms-auto">
                <ul class="social-icon">
                    <li><a href="https://facebook.com/tooplate" class="social-icon-link"><img
                                src="images/icons/facebook.png" style="box-sizing: border-box;"
                                alt="facebook"></a>
                    </li>
                    <li><a href="https://pinterest.com/tooplate" class="social-icon-link"><img
                                src="images/icons/black-linkedin.png" alt="black-linkedin"></a>
                    </li>
                    <li><a href="https://twitter.com/minthu" class="social-icon-link"><img
                                src="images/icons/twitter.png" alt="twitter"></a></li>
                    <li><a href="https://www.youtube.com/tooplate" class="social-icon-link"><img
                                src="images/icons/youtube.png" alt="youtube"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</header>

<nav class="navbar navbar-expand-lg bg-white shadow-lg">
    <div class="container">

        <a href="/" class="navbar-brand">Web Place <span class="text-danger">Lab</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/about">About</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Services</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item nav-link" href="#">Website Design/Redesign</a></li>
                        <li><a class="dropdown-item nav-link" href="#">SEO</a></li>
                        <li><a class="dropdown-item nav-link" href="#">Digital Marketing</a></li>
                        <li><a class="dropdown-item nav-link" href="#">Website Maintenance</a></li>
                        <li><a class="dropdown-item nav-link" href="#">WordPress Design</a></li>
                        <li><a class="dropdown-item nav-link" href="#">E-Commerce & Shopify</a></li>
                        <li><a class="dropdown-item nav-link" href="#">UI and UX</a></li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/project">Projects</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Support</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item nav-link" href="#">FAQ</a></li>
                        <li><a class="dropdown-item nav-link" href="#">SUPPORT FORM</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/contact">Contact</a>
                </li>
            </ul>
            <div>

            </div>
</nav>
<h1>Service Page</h1>
<p>page content here</p>



<%- include('partials/footer') %>