<%- include('partials/header') %>


    <body id="section_1">

        <header class="site-header">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-2 col-md-3 col-6">
                        <p class="text-white mb-0">
                            <a href="tel: 909-695-6407" class="text-white">
                                <i><img class="contact-icon" src="images/icons/phone.png" alt="telephone"></i>
                                (909)-695-6407
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-3 col-6 ms-auto">
                        <ul class="social-icon">
                            <li><a href="https://facebook.com/webplacelab" class="social-icon-link"><img
                                        src="images/icons/facebook.png" style="box-sizing: border-box;"
                                        alt="facebook"></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/rudulph-val-nario-3166aa117/" class="social-icon-link"><img
                                        src="images/icons/black-linkedin.png" alt="black-linkedin"></a>
                            </li>
                            <li><a href="https://twitter.com/minthu" class="social-icon-link"><img
                                        src="images/icons/twitter.png" alt="twitter"></a></li>
                            <li><a href="https://www.youtube.com/tooplate" class="social-icon-link"><img
                                        src="images/icons/youtube.png" alt="youtube"></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </header>

        <nav class="navbar navbar-expand-lg bg-white shadow-lg">
            <div class="container">

                <a href="/" class="navbar-brand">Web Place <span class="text-danger">Lab</span></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/about">About</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/service" id="navbarDropdownMenuLink"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item nav-link" href="/website_design">Website Design/Redesign</a>
                                </li>
                                <li><a class="dropdown-item nav-link" href="/seo">SEO</a></li>
                                <li><a class="dropdown-item nav-link" href="/digital_marketing">Digital Marketing</a>
                                </li>
                                <li><a class="dropdown-item nav-link" href="/maintenance">Website Maintenance</a></li>
                                <li><a class="dropdown-item nav-link" href="wordpress_design">WordPress Design</a></li>
                                <li><a class="dropdown-item nav-link" href="/ecommerce">E-Commerce & Shopify</a></li>
                                <li><a class="dropdown-item nav-link" href="/ui_ux">UI and UX</a></li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/project">Projects</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Support</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item nav-link" href="/faq">FAQ</a></li>
                                <li><a class="dropdown-item nav-link" href="/support">SUPPORT FORM</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/contact">Contact</a>
                        </li>
                    </ul>
                    <div>

                    </div>
        </nav>

        <main>
            <section class="container">
                
                <div class="col-12-lg web-redesign">
                    
                    <h2>Web Design & Redesign Website</h2>
                    <p>Building a successful online business is a challenge that everyone faces. Whether you're an owner
                        or manager, it's crucial to juggle multiple tasks and stay up-to-date with the latest
                        information. When I started my own business and created a website, I quickly realized that I was
                        spending most of my time building the website instead of actually running my business. It made
                        me wonder, why do we even need a website? Well, having a website that ranks highly on Google can
                        definitely help sell services and products. But here's the thing, a high ranking doesn't
                        automatically mean profit. Nothing can replace a solid business plan. You need to have clear
                        business goals and a proper understanding of what will truly make your business profitable. And
                        this is where every online business journey begins, whether you're an individual business owner,
                        marketing manager, or entrepreneur. So, start by establishing your business goals and pave the
                        way for success.</p>

                    <p><b>Web Place Lab</b>can provide advice and guidance to help you establish your online presence.
                        Our
                        team is here to assist you in building a website that generates leads, whether you are new to
                        the online world or already have an existing website. Below, you can select your business
                        category to get started.</p>
                </div>
            </section>
            <section>
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card w-75 mb-3">
                                <div class="card-body">
                                    <h5 class="card-title text-success">Basic Package</h5>
                                    <p class="card-text">
                                    <ul class="text-start">
                                        <li>Webpage up to 5 pages</li>
                                        <li>CMS setup</li>
                                        <li>Basic SEO</li>
                                        <li>Resposive Website</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card w-75 mb-3">
                                <div class="card-body">
                                    <h5 class="card-title text-success">Mid Plus Package</h5>
                                    <p class="card-text">
                                    <ul class="text-start">
                                        <li>Basic website included</li>
                                        <li>Additional 6 pages</li>
                                        <li>Social Media Intergration</li>
                                        <li>Google Analytics</li>
                                        <li>SSL (1<sup>st</sup> year free)</li>
                                        <li>Admin and user interface</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card w-75 mb-3">
                                <div class="card-body">
                                    <h5 class="card-title text-success">Business Package</h5>
                                    <p class="card-text">
                                        <ul class="text-start">
                                            <li>Include Basic and Mid Plus package </li>
                                            <li>Unlimited pages</li>
                                            <li>E-commerce, Shopify, and CMS</li>
                                            <li>SEO (6<sup>st</sup> year free)</li>
                                            <li>Website Security</li>
                                            <li>Database Setup </li>
                                            <li>Payment Gateway Setup</li>
                                            <li>Adding 6 item per months for free</li>

                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#f9c10b" fill-opacity="1"
                d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
            </path>
        </svg>



        <%- include('partials/footer') %>