nav.link.active{
    color: red;
}
.social-icon-link img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: block;
}
.social-icon-link img:hover{
    background-color: #F6BF0B;
}



img.logo{
    position: absolute;
    float: left;
    margin-left: -10%;
    margin-top: -80px;
    width: 11%;
    z-index: 2000;
}


/* ---------------------------------------
       FAQ FREQUENTLY ASKED QUESTION
-----------------------------------------*/

.faq-h3{
    padding-top: 20px;
}


/* --------------------------------------
        Maintenance Section
----------------------------------------*/
.maintenance-p{
    font-size: 1.5rem;
    line-height: 2;
}
.google-map{
    border-radius: 20px;
}

/* -------------------------------------
          Footer
---------------------------------------*/
.site-footer ul{
    list-style: none;
}
.site-footer a:hover{
    color: #DC3454;
}

@media screen and (max-width: 500px) {
    img.logo{
        display: none;
       
    }
}