@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');


nav.link.active{
    color: red;
}
.social-icon-link img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: block;
}
.social-icon-link img:hover{
    background-color: #F6BF0B;
}

/* ---------------------------------------
       FAQ FREQUENTLY ASKED QUESTION
-----------------------------------------*/

.faq-h3{
    padding-top: 20px;
}


/* --------------------------------------
        Maintenance Section
----------------------------------------*/
.maintenance-p{
    font-size: 1.5rem;
    line-height: 2;
}
.google-map{
    border-radius: 20px;
}

/* -------------------------------------
          Footer
---------------------------------------*/
.site-footer ul{
    list-style: none;
}
.site-footer a:hover{
    color: #DC3454;
}

/* ------------------------------------
    New / redesign Website Package
-------------------------------------*/

.web-redesign{
    margin-top: 20px;
}
.web-redesign img{
    width: 75%;
  margin-left: 150px;
}
.web-redesign p{
    line-height: 2;
}
.web-redesign h2{
    margin-top: 27px;
}
.card{
    background-color: #d9e4e6;
    border-radius: 5%;
    box-shadow: 5px 10px #aeb2b3;
    margin-top: 50px;
}

.card-title{
    border-bottom: 2px solid black;
}
.card-title:hover{   
    font-size: 1.7rem;
   
}

.card li{
   list-style-type: disc;
}

@media screen and (max-width: 500px) {
    img.logo{
        display: none;
       
    }
}